<html lang="en">
<%- include("./partials/head.ejs") %>

  <body class="bg-gray-100 font-sans">

    <!-- Include navigation -->
    <%- include("./partials/nav.ejs") %>

      <!-- Main content section -->
      <div class="container mx-auto px-4 py-8">


        <div class="bg-white shadow-md rounded-lg p-6 md:p-8">
          <h2 class="text-2xl font-bold mb-4 text-gray-800">About Me</h2>
          <p class="mb-4 text-gray-700 leading-relaxed">
            I am Rohan with a robust background in software development, education, and research.
          </p>
          <p class="mb-4 text-gray-700 leading-relaxed">
            My journey includes impactful internships, full-time roles, teaching roles, and volunteer work, all of which
            have equipped me with a versatile skill set in Java and Full Stack development.
          </p>
          <p class="mb-4 text-gray-700 leading-relaxed">
            I am driven by a desire to grow and excel in challenging environments. If you're looking for an innovative
            and skilled professional ready to make an impact, let's connect at rohan.intipalli@gmail.com!
          </p>
        </div>

        <!-- Include footer -->
        <%- include("./partials/footer.ejs") %>

      </div>

  </body>

</html>